<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('./partial/head') %>
       
        <!-- Custom styles for this template -->
        <link href="/public/css/signin.css" rel="stylesheet">
        
        <script>
            var timer = setInterval(async function(){
                    document.getElementById('time').innerText=String(Number(document.getElementById('time').innerText)+1);

                    if(document.getElementById('time').innerText>30)
                        history.back();
            }, 1000)
            window.onload =async function(){
                try {
                    const response = await axios.post('/sub/parsing',{
                        id: '<%- id %>',
                        password: '<%- password %>',
                        company:'<%- company %>'
                    });
                    console.log(response.data);
                    //clearInterval(timer);

                    if(response.data.success) {
                        // 리다이렉트처리
                        window.location.href = '/sub/success?next='+response.data.next+'&fee='+response.data.fee+'&company='+response.data.company+'&cycle='+response.data.cycle;
                        clearInterval(timer);
                    }
                }
                catch (error) {
                        console.log(error);
                }
            }
        </script>

      </head>
    <body class="text-center">
        <main class="form-signin">
            <form>
                <div>
                    <img src='/public/images/file.gif' width='250px' height='250px'>
                </div>
                <div>
                    <br>
                    <h3 id='id_info' style="text-align: left; font-weight: bold; color: #6C757D;" class="info_text"></h3>
                    <h3 style="text-align: left; font-weight: bold; color: #6C757D;" class="info_text"><%- id %> 계정으로<br><%- company %>를 등록하고 있어요</h3><br>
                </div>
                <div style="background-color: #FFFFFF; border-radius: 12px; border: 1px solid #CED4DA; margin-bottom: 10px;">
                    <h6 style="color: #6C757D; margin-top: 10px; display: inline;">20초 예상,</h6> 
                    <h6 id="time" style="color: #6C757D; display: inline;">0</h6>
                    <h6 style="color: #6C757D; margin-bottom: 10px; display: inline;">초 소요</h6>
                    
                </div>
            </form>
        </main>
    </body>
</html>